{% extends "index.html" %}
{% load static %}
{% block content %}

<!-- Modal Popup for Sign In -->
{% include 'includes/login.html' %}

<!-- Modal Popup for Information -->
{% include 'includes/info.html' %}

<!-- Modal Popup for Download Error -->
{% include 'includes/downloadcsv.html' %}

<!-- Modal Popup for Collect Data Info -->
{% include 'includes/collectdata.html' %}

{% if email == True %}
  <div class="email-alert alert" role="alert">
    Email Sent!
    <button type="button" class="email-alert-button close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% else %}
  <!-- Email CSV function not called -->
{% endif %}

<!-- Main Service and User History -->
<div class="customrow row">

  <!-- Main Service -->
  <section class="service col-lg-8 col-md-8">
    <div class="red title-box">
      <h4>Gather data on the Top 50+ products from your search!</h4>
    </div>

    <!-- Web Scraping Tools -->
    <form id="scraping-form" class="web-scraping-services" action="." method="GET">
      <div class="product-search">
        <input type="text" name="product" placeholder="Product name here..."/>
      </div>
      <div class="slidecontainer">
        <input type="range" name="amount" min="1" max="60" value="50" class="slider" id="myRange">
        <div class="slider-info">
          <p>I want to look for <span id="slider-amount"></span> Products</p>
        </div>
      </div>
      <label class="checkbox-label"><input class="checkbox" type="checkbox" name="freeshipping">Check for Free Shipping </input></label>
      <button class="scraping-button" type="submit" data-toggle="modal" data-target=".collectdata">Collect Data</button>
    </form>

    <!-- Button Cluster -->
    <footer class="cluster">
      <div class="download-csv">
        {% if filename == None %}
          <a class="yellow" data-toggle="modal" data-target=".download">Download .CSV</a>
        {% else %}
          <a class="yellow" name="download" href="{% static 'csv_files/'|add:filename|add:'.csv' %}">Download .CSV</a>
        {% endif %}
      </div>
      {% if user.is_authenticated %}
        {% if filename == None %}
          <form class="email-save" action="." method="GET">
            <button class="orange" data-toggle="modal" data-target=".download">Email .CSV</button>
            <button class="red" data-toggle="modal" data-target=".download">Save Data</button>
          </form>
        {% else %}
          <form class="email-save" action="." method="GET">
            <button class="orange" name="email-csv" value="True">Email .CSV</button>
            <button class="red" name="save-data" value="True">Save Data</button>
          </form>
        {% endif %}
      {% else %}
        <div class="email-save">
          <button class="orange" data-toggle="modal" data-target=".login">Email .CSV</button>
          <button class="red" data-toggle="modal" data-target=".login">Save Data</button>
        </div>
      {% endif %}
    </footer>
  </section>

  <!-- User History -->
  <section class="history col-lg-3 col-md-3">
    <div class="yellow auth-margin title-box">
      <h4>History</h4>
    </div>
    {% if user.is_authenticated %}
      {% if queries == None %}
        <h5>No Data Saved</h5>
      {% else %}
        {% for query in queries %}
          <div class="query-box">
            <div class="search-date">
              <h4 class="user-search">{{ query.Search }}</h4>
              <h4 class="user-search-date"><i>{{ query.Date }}</i></h4>
            </div>
            <form class="query-options" action='.' method="GET">
              <button class="orange" name="download-query" value="{{query.Search}}---{{query.id}}">Make CSV</button>
              <button class="red" name="delete-query" value="{{query.id}}">Delete</button>
            </form>
          </div>
        {% endfor %}
      {% endif %}
    {% else %}
      <div class="history-signin">
        <h5><i><a href="#" data-toggle="modal" data-target=".login"><strong>Sign In</strong></a> to access your saved queries</i></h5>
      </div>
    {% endif %}
  </section>
</div>


{% endblock %}
