<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AliExpress Web Scrape</title>
    <meta name="description" content="A Django web app that allows you to browse and search NFL player and team stats up until the 2018 season.">

    {% load static %}
    <!-- External Stylesheets -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">

    <!-- Internal Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  </head>

  <body>
    <div class="Main" id="Main">

      <!-- Navbar/Top Info -->
      <header class="customnav navbar">
        <h5>Information</h5>
        <h1>Ali<strong>Express</strong> Data<strong>Scraper</strong></h1>
        <h5>Sign In</h5>
      </header>

      <!-- Main App -->
      <div class="customcontainer container">

        <!-- Product Search Bar -->
        <form action="." class="product-search" method="GET">
          <input name="search" type="text" placeholder="Product name here..."/>
        </form>

        <!-- Main Service and User History -->
        <div class="customrow row">

          <!-- Main Service -->
          <section class="service col-lg-8 col-md-8">
            <div class="red title-box">
              <h4>Gather data on the Top 100+ products from your search!</h4>
            </div>

            <!-- Web Scraping Tools -->
            <form class="web-scraping-services" action="." method="GET">
              <div class="slidecontainer">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
              </div>
              <label class="checkbox-label"><input class="checkbox" type="checkbox" name="">Include ePacket</input></label>
              <button class="scraping-button" type="submit" name="scraper">Collect Data</button>
            </form>

            <!-- Button Cluster -->
            <footer class="cluster">
              <form class="download-csv" action="." method="GET">
                <button class="yellow" name="download" href="#">Download .CSV</button>
              </form>
              <form class="email-save" action="." method="POST">
                <button class="orange" name="email-csv" href="#">Email .CSV</button>
                <button class="red" name="save-data" href="#">Save Data</button>
              </form>
            </footer>
          </section>

          <!-- User History -->
          <section class="history col-lg-3 col-md-3">
            <div class="yellow title-box">
              <h4>History</h4>
            </div>
          </section>
        </div>
      </div>
      <footer class="bottom-of-app">
        <h5><a href="#">Go to my website</a></h5>
        <h5>&copy; 2020 - Trevor Youngquist</h5>
      </footer>
    </div>

    <!-- Javascript -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
  </body>

</html>
