/* --- Default Styles --- */

body { overflow-x: hidden; font-family: 'Nanum Gothic', sans-serif; }
h5 { font-size: 21px; color: #FFCD03; }
h4 { font-size: 20px; color: #fff; }
h1 { font-size: 65px; font-weight: normal; color: #FFCD03; }
strong { color: #FF4747; font-weight: normal; }

.red { background-color: rgba(255,71,71,0.5); }
.yellow { background-color: rgba(255,205,3,0.5); }
.orange { background-color: rgba(251,117,27,0.5); }



/* --- Index.html Styles min-width: 1500px; --- */

.customnav { padding: 1rem 6rem;   }

.Main {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../images/sunset.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  text-align: center;
 }

/* --- Search Bar --- */

.product-search { margin: 100px 0 30px 0; }
.product-search input {
    width: 100%;
    text-align: center;
    height: 60px;
    background-color: #333;
    border: none;
    border-bottom: 5px solid #FF4747;
    font-size: 25px;
    color: #fff;
  }

/* --- Main App --- */
.customcontainer { max-width: 1250px; margin-bottom: 25px; }
.customrow { justify-content: space-between; margin: 0; }
 section { height: 55vh; border: 3px solid; }

 /* --- Main Serivce --- */
 .service { border-color: #FF4747; flex: 0 0 72.666667%; max-width: 72.666667%; padding: 0; }
 .title-box {
    width: 100%;
    height: 70px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .title-box h4 { margin-bottom: 0; }


.web-scraping-services {
    margin: 30px 50px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 33vh;
    text-align: left;
}
 .slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #FFCD03;
  cursor: pointer; /* Cursor on hover */
}
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #FFCD03;
  cursor: pointer; /* Cursor on hover */
}

.checkbox-label { font-size: 23px; color: #fff; }
.checkbox {
  position: relative;
  top: 8px;
  width: 30px;
  height: 30px;
  -webkit-appearance: none;
  outline: none;
  transition: 0.5s;
  margin-right: 20px;
  cursor: pointer;
}
.checkbox::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  border: 4px solid #333;
  box-sizing: border-box;
  transition: 0.5s;
}
.checkbox:checked::before {
  border-top: none;
  border-left: none;
  background-color: inherit;
  width: 15px;
  border-color: #FFCD03;
  transform: rotate(45deg) translate(5px, -10px);
}
.scraping-button {
    color: #fff;
    background-color: rgba(225,225,225,0.1);
    border: 2px solid #FFCD03;
    height: 70px;
    font-size: 20px;
    cursor: pointer;
  }
.scraping-button:hover { background-color: #333; transition: 0.2s; border-color: #fff; }
.scraping-button:active { background-color: #333; transition: 0.2s; border-color: #fff; }


.cluster {
    position: absolute;
    width: 100%;
    display: flex;
    bottom: 0;
}
.download-csv {
    display: flex;
    width: 33.33%;
    height: 70px;
  }
.download-csv button {
  border: none;
  color: #fff;
  font-size: 20px;
  height: 100%;
  width: 100%;
}
.email-save {
  display: flex;
  width: 66.63%;
  height: 70px;
  align-items: center;
}
.email-save button {
  border: none;
  color: #fff;
  font-size: 20px;
  height: 100%;
  width: 50%;
}
.cluster button:hover { background-color: #333; transition: 0.2s; }
.cluster button:active { background-color: #333; transition: 0.2s}


 /*--- User History --- */
 .history { border-color: #FFCD03; padding: 0; }


/* --- Footer --- */
.bottom-of-app a { color: #FFCD03; }
.bottom-of-app a:hover { color: #FFCD03; text-decoration: underline; cursor: pointer; }
.bottom-of-app a:active { color: #FFCD03; text-decoration: underline; }
.bottom-of-app h5 { margin-bottom: 15px; }

 /* --- Screen Responsiveness --- */

 @media screen and (max-width: 1500px) {
   h1 { font-size: 55px; }
   h4, h5 { font-size: 20px; }

   .customrow { margin-right: -15px; margin-left: -15px; }
   .service { flex: 0 0 66.666667%; max-width: 66.666667%; }
 }
