<div class="collectdata modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="downloadcontent modal-content">
      <div class="downloadheader modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="downloadbody modal-body">
        <p>
        To ensure proper web-scraping, please keep the robot-controlled browser open
        and DON'T INTERRUPT the automatic process. The page will close itself.<br><br>
        The process will take 1 - 2 minutes.<br><br>
        This app is designed for one user at time and only an example of what
        I can make as a software engineer. This is not a scalable project as is;
        the backend code would have to be seriously revised.
        </p>
      </div>
      <div class="downloadfooter modal-footer">
        <button type="button" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
