<div class="download modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="downloadcontent modal-content">
      <div class="downloadheader modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="downloadbody modal-body">
        <p>There's no search to reference. Please do a product search or choose the
        "Make CSV" option from one of your past queries.</p>
      </div>
      <div class="downloadfooter modal-footer">
        <button type="button" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
